#form-box{
                border: 1px solid black;
                width:70%;
                height: 900px;
                margin-left: 15%;
                font-size: 20px;
                background-color: rgb(28, 28, 28);
            }
            #form-box div{
                margin: 40px;
            }
            #form-box div input{
                width: 98%;
                height: 30px;
                border: none;
                border-radius: 10px;
                font-size: 20px;
                padding: 5px;
                background-color: whitesmoke;
            }
            textarea{
                width: 98%;
                height: 90px;
                border: none;
                border-radius: 10px;
                font-size: 20px;
                padding: 5px;
                background-color: whitesmoke;

            }